# Frontend
/web/node_modules/
/web/.next/
/web/out/
/web/build/
/web/.env*
/web/*.tsbuildinfo

# Backend
/backend/__pycache__/
/backend/.env
/backend/msme_db/
/backend/*.mp3
/backend/msme-docs/

# General
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*